@import '110_colors.css';
@import '120_fonts.css';
@import '130_vars.css';
@import '140_theme.css';

body::after {
  pointer-events: none;
  mix-blend-mode: multiply;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='300' height='300'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='300' height='300' fill='%23fff'/%3E%3Crect width='300' height='300' filter='url(%23n)' opacity='0.80'/%3E%3C/svg%3E");
  background-repeat: repeat;
  filter: opacity(0.5) grayscale(0.9);
  position: absolute;
  inset: 0;
  z-index: 100;
  content: '';
}
