:root {
  --ph-highlight-color-blue: #55b8fe;
  --ph-highlight-color-green: #46da48;
  --ph-highlight-color-red: #fd709a;
  --ph-highlight-color-purple: #ac8cf1;
  --ph-highlight-color-yellow: #fcd713;
  --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
  --ph-view-container-width: 42vw;
}

:root {
  /* --takitapart-grey: hsl(180 16% 88%);
  --takitapart-grey-h: 180; */

  --alizarin-crimson: hsl(0, 78%, 51%);
  --alizarin-crimson-h: 0;
  --tango: hsl(20, 83%, 52%);
  --carrot-orange: hsl(32, 89%, 53%);
  --supernova: hsl(46, 98%, 52%);
  --turbo: hsl(56, 100%, 48%);
  --atlantis: hsl(79, 66%, 44%);
  --deep-sea: hsl(158, 99%, 28%);
  --bondi-blue: hsl(192, 96%, 37%);
  --bondi-blue-h: 192;
  --jelly-bean: hsl(208, 61%, 43%);
  --victoria: hsl(233, 38%, 43%);
  --eminence: hsl(278, 41%, 38%);
  --lipstick: hsl(322, 97%, 39%);

  --takitapart-grey: hsl(60, 11%, 89%);
  --takitapart-grey-h: 60;
  --takitapart-red: hsl(8, 72%, 47%);
  --takitapart-yellow: hsl(48, 100%, 48%);
  --takitapart-blue: hsl(198, 65%, 51%);
  --takitapart-navy: hsl(195, 35%, 17%);
}
