:root {
  --ph-highlight-color-blue: #55b8fe;
  --ph-highlight-color-green: #46da48;
  --ph-highlight-color-red: #fd709a;
  --ph-highlight-color-purple: #ac8cf1;
  --ph-highlight-color-yellow: #fcd713;
  --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
  --ph-view-container-width: 42vw;
}

:root {
  --takitapart-grey: hsl(60, 11%, 89%);
  --takitapart-grey-h: 60;
  --takitapart-red: hsl(8, 72%, 47%);
  --takitapart-orange: hsl(30, 83%, 52%);
  --takitapart-yellow: hsl(48, 100%, 48%);
  --takitapart-lime: hsl(68, 77%, 46%);
  --takitapart-green: hsl(109, 38%, 40%);
  --takitapart-blue: hsl(198, 65%, 51%);
  --takitapart-blue-h: 198;
  --takitapart-navy: hsl(195, 35%, 17%);
}
