/* ======================================================================== */
h1.title {
  font-weight: 800;
}

/* -- Earlier ------------------------------------------------------------- */
#journals :not[.journal-item] a {
  font-size: 24px;
}

/* -- Sidebar ------------------------------------------------------------- */
.sidebar-item {
  box-shadow: none !important;
}
