/* ======================================================================== */
.ls-left-sidebar-open .cp__header .l {
  & button {
    color: var(--takitapart-blue) !important;
  }
  & button.active,
  & button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
  }
}

.sidebar-item {
  box-shadow: none !important;
}

/* -- L Sidebar ----------------------------------------------------------- */
.left-sidebar-inner {
  background-color: var(--takitapart-navy);

  & .nav-content-item {
  }

  & a {
    color: var(--takitapart-grey);
    opacity: 0.75;
    mix-blend-mode: screen;
    font-weight: 600;
  }

  & a.item.active,
  & a.item:active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  & a.item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    background-blend-mode: multiply;
  }

  & .nav-content-item > .header:hover {
    background-color: rgba(0, 0, 0, 0.05);
    background-blend-mode: multiply;
  }

  & .new-page-link {
    background-color: transparent !important;
  }

  & .nav-content-item .bd ul a {
    color: var(--takitapart-grey);
    opacity: 0.75;
    mix-blend-mode: screen;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      background-blend-mode: screen;
    }
  }

  .left-sidebar-inner .nav-content-item > .bd ul a:hover {
  }

  & .page-icon {
    margin-right: 0.5rem;
  }

  /* & .favorite-item {
    & a {
      & .page-icon {
        color: transparent;
        &:after {
          content: '•';
          color: var(--takitapart-blue);
        }
      }
    }
  }

  & .recent-item {
    & a {
      & .page-icon {
        color: transparent;
        &:after {
          content: '•';
          color: var(--takitapart-blue);
        }
      }
    }
  } */
}

/* -- Right Sidebar ------------------------------------------------------- */
.cp__right-sidebar {
  background-color: hsl(var(--takitapart-grey-h), 11%, 85%);

  & .cp__right-sidebar-topbar {
    background-color: transparent;
  }
}

/* ======================================================================== */
/* Main Content */
/* ======================================================================== */
#app-container {
  & #head {
  }

  & #main-container {
    & #main-content-container {
    }
  }
}

/* ======================================================================== */
.block-children-left-border:hover {
  background-color: var(--takitapart-blue);
}

h1.title {
  font-weight: 800;
}

/* -- Earlier ------------------------------------------------------------- */
/* #journals a.fade-link {
  font-size: 24px;
} */

/* ======================================================================== */
.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
  border-bottom: none;
  margin: 0.4em 0 0;
}

/* ------------------------------------------------------------------------ */
blockquote {
  display: block;
  text-indent: 0;
  padding: 8px 20px;
  border-left: 4px solid;
  border-left-color: var(--ls-page-blockquote-border-color, #d3d3d3);
  background-color: var(--ls-page-blockquote-bg-color, #f7f7f7);
  margin: 1rem 0;
  margin-right: 8px;
  color: var(--ls-page-blockquote-color, #24292e);
  font-size: 1rem;
  box-shadow: 8px 8px 0 hsl(var(--takitapart-grey-h), 15%, 75%);
}
.block-body blockquote:first-child,
.block-body pre:first-child {
  margin-top: 8px;
  margin-bottom: 16px;
}

/* ======================================================================== */
.extensions__code {
  & .CodeMirror {
    order: 1;
    width: 100%;
    z-index: 0;
    height: auto;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-right: 8px;
    padding-top: 0px;
    font-family: Fira Code, Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
    max-width: var(--ls-main-content-max-width-wide);
    border-radius: 2px;
    line-height: 1.45em;
  }
  & .extensions__code-lang {
    background-color: var(--takitapart-yellow);
    padding: 2px 8px;
    margin-right: 8px;
  }
  & .extensions__code-calc {
    padding: 0 0.5em;
    margin-top: 0px;
    margin-right: 8px;
    top: 3px;
    z-index: 1;
    background: 0 0;
    width: max-content;
    text-align: right;
  }
}

.CodeMirror.cm-s-solarized {
  background-color: hsl(var(--takitapart-grey-h), 10%, 97%);
  color: #657b83;
  text-shadow: none;
  box-shadow: 8px 8px 0 hsl(var(--takitapart-grey-h), 15%, 75%);

  & .CodeMirror-gutters {
    background-color: hsl(var(--takitapart-grey-h), 11%, 94%);
  }
}

/* ------------------------------------------------------------------------ */
.color-level {
  background-color: hsl(var(--takitapart-grey-h), 10%, 85%);
}

/* ======================================================================== */
.block-content {
  & h1 {
    font-weight: 700;
  }
  & h2 {
  }
  & h3 {
  }
  & h4 {
  }
  & h5 {
  }
  & h6 {
  }
}

/* ======================================================================== */
/* Tippy */
.tippy-popper {
  & .tippy-tooltip {
    &.arrow-regular {
    }
    &.tippy-tooltip-content {
      background-color: white;
      box-shadow: 8px 8px 0 hsl(var(--takitapart-grey-h), 15%, 75%);
    }
  }
}

.dropdown-wrapper {
  background: var(--takitapart-grey);
  & a {
    color: var(--takitapart-navy);
    opacity: 1;
    mix-blend-mode: normal;
    font-weight: 400;
  }
}

.menu-link:hover,
button.menu:focus,
button.pull:hover {
  background-color: hsl(var(--takitapart-grey-h), 10%, 95%);
}

.custom-context-menu {
  background-color: white;
}
