mark {
  background: var(--takitapart-yellow);
  color: var(--takitapart-navy);
  padding: 2px 4px;
  border-radius: 3px;
}

/* Block Properties */
.block-properties {
  background-color: hsl(var(--takitapart-grey-h), 10%, 97%);
  /* box-shadow: 8px 8px 0 hsl(var(--takitapart-grey-h), 15%, 75%); */
}

/* Card */
div[data-refs-self*='"card"'] {
  /* border-radius: 0;
  box-shadow: 8px 8px 0 hsl(var(--takitapart-grey-h), 15%, 75%); */
}

/* ------------------------------------------------------------------------ */
/* Heading Background */
.heading-bg,
.with-bg-color {
  &[style*='background-color: rgb(83, 62, 125)'] {
    background-color: var(--takitapart-navy) !important;
  }
  &[style*='background-color: rgb(73, 125, 70)'] {
    background-color: var(--takitapart-blue) !important;
  }
  &[style*='background-color: rgb(120, 127, 151)'] {
    background-color: var(--takitapart-green) !important;
  }
  &[style*='background-color: rgb(151, 134, 38)'] {
    background-color: var(--takitapart-lime) !important;
  }
  &[style*='background-color: rgb(73, 118, 123)'] {
    background-color: var(--takitapart-yellow) !important;
  }
  &[style*='background-color: rgb(38, 76, 155)'] {
    background-color: var(--takitapart-orange) !important;
  }
  &[style*='background-color: rgb(121, 62, 62)'] {
    background-color: var(--takitapart-red) !important;
  }
}
/* ------------------------------------------------------------------------ */
