a.tag[data-ref*='$'] {
  pointer-events: none;
  background: var(--takitapart-yellow);
  cursor: text;
}

html:not(.is-mobile) .ls-block[data-refs-self*='$header-red'] {
  /* &:after {
    background: var(--takitapart-red);
    content: '';
    display: block;
    pointer-events: none;
    z-index: -1;
    position: absolute;
    inset: 0;
    margin-top: -10000px;
    margin-left: -10000px;
    margin-right: -10000px;
  } */

  & .block-content {
    /* mix-blend-mode: multiply; */

    & .asset-container {
      /* filter: contrast(25000%) hue-rotate(258deg) brightness(1); */

      & > img {
      }
    }
  }
}

.ls-block[data-refs-self*='$header-image'] {
  margin-top: -30px;
  margin-left: -36px;

  & .tag,
  & .bullet {
    display: none;
  }
}

html:not(.is-mobile) .ls-block[data-refs-self*='$halftone-blue'] {
  mix-blend-mode: multiply;

  & .asset-container {
    mix-blend-mode: multiply;
    background: white;
    position: relative;
    filter: contrast(25000%) hue-rotate(258deg) brightness(1.6);
    overflow: hidden;
    transform: translateZ(0);

    & > img {
      filter: brightness(0.5) grayscale(1) blur(4px);
    }

    &:after {
      content: '';
      position: absolute;
      top: -100%;
      left: -100%;
      right: -100%;
      bottom: -100%;
      background-blend-mode: multiply;
      background: 
        /* radial-gradient(8px 8px, cyan, white),
        radial-gradient(8px 8px, magenta, white),
        radial-gradient(8px 8px, yellow, white); */ radial-gradient(
        8px 8px,
        magenta,
        white
      );

      background-position: 0 -3px, -2px 0, 2px 0;
      background-size: 8px 8px;
      mix-blend-mode: screen;
      pointer-events: none;
      transform: rotate(45deg);
      /* transition: 1s ease-in-out transform; */
      z-index: 1;
    }
  }
}

[data-refs-self*='$featured'] {
  & .tag {
    /* display: none; */
  }

  /* &::before {
    background: hsl(var(--takitapart-blue-h), 50%, 90%);
    position: absolute;
    inset: 0 -1000px;
    content: ' ';
    pointer-events: none;
  } */
}
